.c_grupos{
    display: block;
    text-align: center;
    margin-top: 3rem;
    input{
        background-color: $azulMarino;
        padding: 1rem;
        border-radius: 0.8rem;
        border-color: $azulOscuro;
        margin-bottom: 5rem;
        color: $blanco;
        width: 15%;
    }
    input:hover{
        cursor: pointer;
        background-color: $azulOscuro;
    }
}
