.eliminarCarrera{
    margin-top: 0;
    
    form{
        width: 50%;
        margin: 0 auto;
        .nombreCarrera, .carrera{
            display: flex;
            margin-top: 2rem;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            label{
                width: 15rem;
                text-align: center;
            }
            select{
                width: 50rem;
                display: inline;
                background-color: $blanco;
                color: black;
            }
            select{
                border-radius: 0.5rem;
                height: 3rem;
            }
            
        }
        .eliminar{
            float: right;
            width: 15rem;
            margin-top: 2rem;
            margin-right: 0.5rem;
            text-transform: uppercase;
            background-color: $rojo;
            color: $blanco;
            border-radius: 0.75rem;
            cursor: pointer;
            border-color: $rojoOscuro;
            font-weight: 700;
        }
        .eliminar:hover{
            background-color: $rojoOscuro;
        }
    }
}